{% extends 'customer/common/layout.html' %}
{% block content %}
{% load static %}

	<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img">
          <img src="{% static 'customer/images/p15.jpg' %}" class="img-fluid rounded" style="width: 100%;" alt="">
        </div>
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <div class="about-content">
          <h3 class="font-weight-bold">Introduction</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est justo, aliquam nec tempor
            fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum tincidunt magna id
            euismod. Nam sollicitudin mi quis orci lobortis feugiat.</p>
          <h3 class="font-weight-bold">How we can help</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est justo, aliquam nec tempor
            fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum tincidunt magna id
            euismod. Nam sollicitudin mi quis orci lobortis feugiat. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nunc est justo, aliquam nec tempor fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum
            tincidunt magna id euismod. Nam sollicitudin mi quis orci lobortis feugiat.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 content">
  <div class="container">
    <div class="row">
        <h2 class="text-center">Our Team</h2>
    </div>
    <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'customer/images/p4.jpg' %}" height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Physio</a></h2>
                            <p>Write your service content here and describe more in readmore btn. Ibus sapien non rhoncus congue.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                    
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'customer/images/p5.jpg' %}" height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Physio</a></h2>
                            <p>Write your service content here and describe more in readmor ictum arcu ac ldunt nunc ullamcorper. </p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'customer/images/p8.jpg' %}" height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Physio</a></h2>
                            <p>Write your service content here and describe more in readmore ons velit, a malesuada urna sodales eu.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'customer/images/p2.jpg' %}" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Physio</a></h2>
                            <p>Write your service content here and describe more in readmore ongue ia malesuada urna sodales veliteu.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
  </div>
</section>





<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_subtitle">This is E-Physio clinic</div>
						<div class="section_title"><h2>Our Services</h2></div>
					</div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p16.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">Back Pain</div>
							<div class="service_text">
								<p>Back pain is one of the most common reasons people seek medical help or miss work. Back pain is a leading cause of disability worldwide Back pain is one of the most common reasons.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p17.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">knee pain</div>
							<div class="service_text">
								<p>Knee pain is a common complaint that affects people of all ages. Knee pain may be the result of an injury, such as, gout and infections — also can cause knee pain</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p18.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">biceps pain</div>
							<div class="service_text">
								<p>Bicep tendonitis is an inflammation of the tendons that connect the biceps muscle, at the front of  bicep tendonitis often results from overuse</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p21.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">neck pain</div>
							<div class="service_text">
								<p>Neck pain, or cervicalgia, can last from days to years, cause. Common , spinal stenosis, herniated disk, pinched nerve, tumors and other health conditions..</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p20.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">chest pain</div>
							<div class="service_text">
								<p>Chest pain appears in many forms, ranging from a sharp stab to a dull ache. Sometimes chest pain feels crushing then spreads to the back or down one or both arms.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'customer/images/p12.png' %}" alt="https://www.flaticon.com/authors/prosymbols"></div>
							</div>
							<div class="service_title">spine pain</div>
							<div class="service_text">
								<p>Spinal pain can be caused by things more severe that might require surgical consideration.  These usually involve spinal pain that radiates into arms.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> 
	{% endblock %}