{% extends 'customer/common/layout.html' %}
{% block content %}
<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Appointment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="login py-5 border-top-1 content">
	

<div class="container"> <div class="row justify-content-center"> <div
class="col-lg-8 col-md-8 align-item-center"> <h1>Appointment</h1> <p>
Please complete the form below. We'll do everything we can to respond
to you as quickly as possible.</p> <form method="post"
action="/customer/appointment_store">{% csrf_token %} 
    <input type="hidden" name="physio_id" id="physio_id" value="{{physio_id}}"> 
    <div class="row"> <div class="col-md-6"> <label
class="control-label" for="Subject">Clinic</label> <select
class="form-control mb-3" name="clinic" id="clinic" style="height:
50px;"> <option value="Select a parlour" selected>Select a
Clinic</option>

                                    {% for p in clinic %}
                                    <option value="{{p.physio_clinic.id}}">{{p.physio_clinic.physio_clinic}}</option>
                                    {% endfor %}   
                                    </select>  
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="date">Appointment Date</label>
                                    <input type="date" name="appoint_date" id="appoint_date" placeholder="" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="Time">Time</label>
                                    <select class="form-control mb-3" name="time" id="time" style="height: 50px;">
                                        <option value="Select a time" selected>Select a Time</option>
                                        <option value="8am to 9am">8am to 9am</option>   
                                        <option value="9am to 10am">9am to 10am</option>   
                                        <option value="10am to 11am">10am to 11am</option>   
                                        <option value="11am to 12pm">11am to 12pm</option>   
                                        <option value="12pm to 1pm">12pm to 1pm</option>   
                                        <option value="3pm to 4pm">3pm to 4pm</option>   
                                        <option value="4pm to 5pm">4pm to 5pm</option>   
                                        <option value="5pm to 6pm">5pm to 6pm</option>   
                                        <option value="6pm to 7pm">6pm to 7pm</option>   
                                    </select>  
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="textarea">Remarks</label>
                                            <textarea class="form-control" id="remarks" name="remarks" rows="6" placeholder=""></textarea>
                                        </div>
                                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button id="singlebutton" name="singlebutton" class="btn btn-default">Make Appointment</button>
                                            
                        </div>
                    </div>

					</div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>
   </section>

{% endblock %}