{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
     <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">All Phsio clinic</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Clinic Name</th>
                                            <th scope="col">Clinic Address</th>
                                            <th scope="col">Clinic Image</th>

                                            <th scope="col">Delete</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result %}
                                        <tr>
                                        
                                            <td>{{row.id}}</td>
                                            <td>{{row.physio_clinic}}</td>
                                            <td>{{row.address}}</td>
                                            <td><img src="/media/myadmin_upload/{{row.clinic_image}}" height="200" width="200"></td>
                                            
                        <td> <a href="/myadmin/physiotherapy_delete/{{row.id}}">Delete</a></td>
                        <td> <a href="/myadmin/physiotherapy_edit/{{row.id}}">Edit</a> </td>
                                        </tr>
                                        
                                         {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}