{% extends 'physio/common/layout.html' %}

{% block content %}

<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Physio Edid Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="login py-5 border-top-1 content">
	

        <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img src="/media/physio_upload/{{result.physio_image}}" height="300" width="300" style="border-radius: 50%;">
                        </div>
                        <div class="col-lg-8 col-md-8 align-item-center">
                        <h1>Edit Profile</h1>
                        <p> Please complete the form below. We'll do everything we can to respond to you as quickly as possible.</p>
                        <form method="post" action="/physio/physio_update/{{result.id}}" enctype="multipart/form-data">
                        	{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="name">First name</label>
                                    <input type="text" name="fname" id="fname" placeholder="" class="form-control" value="{{result.physio.first_name}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="name">Last name</label>
                                    <input type="text" name="lname" id="lname" placeholder="" class="form-control" value="{{result.physio.last_name}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="name">User Name</label>
                                    <input type="text" name="uname" id="uname" placeholder="" class="form-control" value="{{result.physio.username}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="name">Email</label>
                                    <input type="email" name="email" id="email" placeholder="" class="form-control" value="{{result.physio.email}}">
                                </div>



                              

                                <div class="col-md-6">
                                    <label class="control-label" for="Subject">Experience</label>
                                    <input type="text" name="experience" id="experience" placeholder="" class="form-control" value="{{result.experience}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="Subject">Degree</label>
                                    <input type="text" name="degree" id="degree" placeholder="" class="form-control" value="{{result.degree}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="Subject">Degree Register No</label>
                                    <input type="text" name="drg" id="drg" placeholder="" class="form-control" value="{{result.degree_reg_no}}">
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="textarea">Address</label>
                                            <textarea class="form-control" id="address" name="address" rows="6" placeholder="">{{result.address}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <label class="control-label" for="Subject">Contact</label>
                                    <input type="text" name="contact" id="contact" placeholder="" class="form-control" value="{{result.contact}}">
                                </div>
                  	<div class="col-md-6">

                    <label class="control-label" for="textarea">Gender</label>
  					<div class="form-group form-control"> 
       					<div class="col-sm-3">
            				<label class="radio-inline">
<input  name="gender" id="rd1" value="Male" type="radio" {% if result.gender == 'Male' %} checked {% endif %}>Male
             				</label>
        				</div>
        				<div class="col-sm-3 p-2">
             				<label class="radio-inline">
<input name="gender" id="rd2" value="Female" type="radio" {% if result.gender == 'Female' %} checked {% endif %}>Female
             				</label>
         				</div>
   					</div>
					</div>
                  <div class="col-md-6">
                    <label class="control-label" for="textarea">DOB</label>
                    <div class="form-group form-control">
                      <label class="control-label normal p-2">Date of Birth :</label>
                      <input type="date" name="dob" id="dob" value="{{result.dob|date:'Y-m-d'}}" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
                    </div>                   
                  </div>
                  <div class="col-md-6">
                        <label class="control-label" for="Subject">State</label>
                        <select class="form-control mb-3" name="statename" id="statename" style="height: 50px;">
                      <option value="Select a city" selected>Select a State</option>

                      {% for st in state %}
                      <option value="{{st.id}}" {% if result.state_id == st.id %} selected {% endif %}>{{st.sname}}</option>
                      {% endfor %}   
                    </select>  
                    </div>
                   <div class="col-md-6">
                        <label class="control-label" for="Subject">City</label>
                        <select class="form-control mb-3" name="cityname" id="cityname" style="height: 50px;">
                      <option value="Select a city" selected>Select a City</option>

                      {% for cy in city %}
                      <option value="{{cy.id}}" {% if result.city_id == cy.id %} selected {% endif %}>{{cy.cname}}</option>
                      {% endfor %}   
                    </select>  
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="Subject">Area</label>
                        <select class="form-control mb-3" name="areaname" id="areaname" style="height: 50px;">
                      <option value="Select a city" selected>Select a Area</option>

                      {% for a in area %}
                      <option value="{{a.id}}" {% if result.area_id == a.id %} selected {% endif %}>{{a.area_name}}</option>
                      {% endfor %}   
                    </select>  
                    </div>
                    

                    <div class="col-md-6">
                        <label class="control-label" for="email">Your Image</label>
                        <input class="form-control" type="file" name="pimg" id="pimg">
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button id="singlebutton" name="singlebutton" class="btn btn-default">Update</button>
                                            
                        </div>
                    </div>

					</div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>
   </section>

{% endblock %}